# Flask Web Framework
flask
flask-cors
werkzeug

# Machine Learning & Data Processing
numpy
pandas
mlxtend
scipy
scikit-learn

# Data Visualization
matplotlib
seaborn
plotly
kaleido

# Network Graph Analysis
networkx
